<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/layout.css">
  <title>Document</title>
</head>
<body>
  
  <div class="header">
    <div>
     <button class="menu-btn" onclick="openSidebar()">☰</button>
      <a href="/articles/new" class="header-create-article">
        <span class="create-article-text">Create Articles</span>
         <span class="plus-icon" id="plus-icon">+</span>
      </a>
    </div>

    <div class="brandName">
      <h2><a href="/articles">NEWS WEBSITE</a></h2>
    </div>


    <div>
      <button onclick="openAuth()" id="openAuth" class="openAuth">👤</button>
   <% if (user) { %>
   <a href="/users/logout" class="logout">Logout</a></p>
   <% } else { %>
    <a href="/users/register" class="register">Register</a> 
     <a href="/users/login" class="login">Login</a>
   <% } %>
   </div>
  </div>

  

  <!-- sidebar -->
   <div class="sidebar" id="sidebar">
     <button onclick="closeSidebar()" class="closebtn">Close   ✖</button>
     
    <a href="/users/profile">My Profile</a>
     
      <nav class="sidebar-nav">
        <a href="/articles/new">create Articles <span class="plus-icon">+</span></a>
        <a href="/articles/my-articles">My Articles</a>
        
       </nav>
     
   </div>

   <!-- user menu  --> 
   
    <div class="userMenu" id="userMenu" class="userMenu">
      <button onclick="closeAuth()" class="closeAuth" >Close   ✖</button>

      <nav >

        <% if (user) { %>
           <a href="/users/logout" class="logout">Logout</a>
        <% } else { %>
          <a href="/users/register" class="register">Register</a> 
           <a href="/users/login" class="login">Login</a>
        <% } %>
       </nav>
    </div>

   <script>
        function openSidebar(){
          document.getElementById("sidebar").style.display = "block";
        };

        function closeSidebar(){
          document.getElementById("sidebar").style.display ="none";
        };
        
        // <!-- user authentication mobile screen -->

        function openAuth(){
          document.getElementById("userMenu").style.display = "block";
        }

        function closeAuth(){
          document.getElementById("userMenu").style.display = "none";
        }
       

   </script>

</body>
</html>