<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/layout.css">
  <title>Document</title>
</head>
<body>
  
  <div class="header">
    <div>
     <button class="menu-btn" onclick="openSidebar()">☰</button>
    </div>

    <div class="brandName">
      <h2><a href="/articles">NEWS WEBSITE</a></h2>
    </div>

    <div>
   <% if (user) { %>
    <p>Welcome, <%= user.name || user.email %> | <a href="/users/logout" class="logout">Logout</a></p>
   <% } else { %>
    <a href="/users/register" class="register">Register</a> 
     <a href="/users/login" class="login">Login</a>
   <% } %>
   </div>
  </div>

  <!-- sidebar -->
   <div class="sidebar" id="sidebar">
     <button onclick="closeSidebar()" class="closebtn">Close   ✖</button>
     
      <nav class="sidebar-nav">
        <a href="/articles">Articles</a>
        <a href="/articles">Articles 2</a>
        <a href="/articles">Articles 3</a>
       </nav>
     
   </div>

   <script>
        function openSidebar(){
          document.getElementById("sidebar").style.display = "block";
        };

        function closeSidebar(){
          document.getElementById("sidebar").style.display ="none";
        };
   </script>

</body>
</html>
