<header>
  <h2>News Website</h2>

  <% if (user) { %>
    <p>Welcome, <%= user.name || user.email %> | <a href="/users/logout">Logout</a></p>
  <% } else { %>
    <a href="/users/login">Login</a> | <a href="/users/register">Register</a>
  <% } %>
</header>
