<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  
</head>
<body>
  <h1>Welcome to <%= title %></h1>
  <p>This is the homepage of your news website </p>
  <a href="/articles">read articles</a>
</body>
</html>
